<!DOCTYPE html>
<html>
    <head>
        <title>Careers - {{Job['Title']}}</title>
    </head>

    <body>
        <h3> Role </h3>
        <p>{{Job['Title']}}</p>
        <hr>
        <h3> Location </h3>
        <p>{{Job['Location']}}</p>
        <h3> Salary </h3>
        <p>{{Job['Currency']}} {{Job['Salary']}} Per Annum</p>
        <h3> Requirements </h3>
        <p>{{Job['Requirements']}}</p>
        <h3> Responsibilities </h3>
        <p>{{Job['Responsibilities']}}</p>
        <hr>
    </body>
</html>