<!-- Job Item Template -->
<div class = "JobItem border-bottom row">
    <!-- Job Details -->
    <div class="JobDetails col-10">
            <h4> {{job['Title']}} </h4>
            <div> Location : {{job['Location']}}</div>
            {% if job['Salary'] != '' %}
                <div> Salary : {{job['Salary']}}</div>
            {% endif %}
        
    </div>

    <!-- Apply button -->
    <div id = "apply-button" class="col-2">
        <a type="button" class="btn btn-outline-success" href="/job/{{job['ID']}}"> EXPLORE </a>
    </div>
</div>
